.mainchat
  .mainchat__header
    .mainchat__header__group
      %p.mainchat__header__group__name
        = @group.name
      %p.mainchat__header__group__members
        Member : 
        - @group.users.each do |user|
          = user.name
    = link_to "edit", class: "mainchat__header__button" do
      Edit
  .mainchat__body
    = render @messages
  .mainchat__footer
    = form_for [@group, @message], html: {class: 'mainchat__footer__form'} do |f|
      .mainchat__footer__form__inputs
        = f.text_field :content, class: 'mainchat__footer__form__inputs__text', placeholder: 'type a message'
        = f.label :image, class: 'mainchat__footer__form__inputs__label' do
          = icon('fas', 'image', class: 'mainchat__footer__form__inputs__label__icon')
          = f.file_field :image, id: 'image_input'
      = f.submit 'Send', class: 'mainchat__footer__form__submit'